<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Bean</servlet-name>
    <servlet-class>util.Bean</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryRest_All</servlet-name>
    <servlet-class>util.QueryRest_All</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryFoodForRest</servlet-name>
    <servlet-class>util.QueryFoodForRest</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryFTForRest</servlet-name>
    <servlet-class>util.QueryFTForRest</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryRestForName</servlet-name>
    <servlet-class>util.QueryRestForName</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateSalesCount</servlet-name>
    <servlet-class>util.UpdateSalesCount</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateSalesCount_Rest</servlet-name>
    <servlet-class>util.UpdateSalesCount_Rest</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>util.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserUpdateYuE</servlet-name>
    <servlet-class>util.UserUpdateYuE</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryDingdan_All</servlet-name>
    <servlet-class>util.QueryDingdan_All</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddDingDan</servlet-name>
    <servlet-class>util.AddDingDan</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>Bean</servlet-name>
    <url-pattern>/Bean</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryRest_All</servlet-name>
    <url-pattern>/QueryRest_All</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryFoodForRest</servlet-name>
    <url-pattern>/QueryFoodForRest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryFTForRest</servlet-name>
    <url-pattern>/QueryFTForRest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryRestForName</servlet-name>
    <url-pattern>/QueryRestForName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSalesCount</servlet-name>
    <url-pattern>/UpdateSalesCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSalesCount_Rest</servlet-name>
    <url-pattern>/UpdateSalesCount_Rest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateYuE</servlet-name>
    <url-pattern>/UserUpdateYuE</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryDingdan_All</servlet-name>
    <url-pattern>/QueryDingdan_All</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDingDan</servlet-name>
    <url-pattern>/AddDingDan</url-pattern>
  </servlet-mapping>

</web-app>